
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;	
}
body{
	padding:0 0;
	margin:0 0; 
	font-family: 'Roboto', sans-serif;
}
.header{
	background: url("../images/banner.jpg") no-repeat;
	background-size: cover;
	min-height:865px;
}
.header-top {
  padding: 2.5em 0;
  background:rgba(43, 121, 144, 0.22);
 }
.logo{
	float: left;
}
.logo a {
  display: block;
}
.top-menu{
	float: right;
	  margin-top: 0.2em;
}
.top-menu ul li{
	display: inline-block;
	padding-top: 0.3em;
}
.top-menu ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.5em;
  font-size: 1.4em;
  text-transform: capitalize;
}

.right-grid h3 {
  font-size: 2.5em;
  color: #000000;
}
.top-menu ul li a:hover{
	 color: #ff0000;
}


.slider {
	position: relative;
	text-align: center;
	
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides h3{
	color: #fff;
  font-size: 3.5em;
  width: 73%;
  margin: 6em auto 0;
  font-weight: 400;
  text-transform:uppercase;
    line-height: 1.2em;
}
.rslides h3 span {
  color: #d6ff00;
}
.rslides p{
  color: #fff;
  font-size: 2.2em;
  font-weight: 300;
  text-align: center;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 8px;
	width: 8px;
	display: inline-block;
	border: 2px solid #fff;
	border-radius:50%;
	background:#fff;
}
.callbacks_here a:after{
	border: 2px solid #FFF;
	background:transparent;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 29px;
	z-index: 999;
	left: 46%;
	display: none;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 73%;
	left: 15%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/gif.png") no-repeat 0px 0px;
  margin-top: -45px;
  }
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 15%;
 }
.center-icon{
  background: url("../images/icon.png") no-repeat;
  width: 110px;
  height: 110px;
  position: absolute;
  top: 55%;
  right: -7%;
}
	
.left-grid {
  padding: 0;
}
.left-grid img {
	width:100%;
}
.right-grid {
  margin-top: 6.8em;
    padding:0;
}
.right-top h3 {
  font-size: 2.5em;
  color: #000000;
  margin-bottom: 1em;
}
.right-top span {
  color: #FF0001;
  font-size: 1.3em;
  font-weight: 600;
}
.right-top {
  width: 60%;
  margin: 0 auto 12em;
}
p.lable1 {
  margin-top: 1.5em;
   font-size: 1.39em;
 color: #000000
}
p.span {
  margin-top: 1.5em;
   font-size: 1.39em;
 color: #000000
}
.right-top p {
  font-size: 1.39em;
 color: #000000;
}
.right-bottom h4 {
  color: red;
  font-size: 1.99em;
  background: #eee;
  padding: 1.95em 7em 0.55em 6em;
  background: #eee;

}
.services-section {
  background: url("../images/banner1.jpg") no-repeat;
  background-size: cover;
  min-height: 500px;
  padding: 9em 0;
}
.service-leftgrid h3 {
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 1em;
}
.service-leftgrid span {
  color: #fff600;
  font-size: 1.3em;
  font-weight: 600;
}
.service-leftgrid p {
  font-size: 1.3em;
  color: #fff;
  line-height: 1.8em;
}
.right-grid1 {
  float: left;
  width: 20%;
  margin-right: 10%;
    padding-top: 2%;
  
}
.right-grid1 img {
  width: 100%;
}
.right-grid2 {
  float: left;
  width: 70%;
}
.right-grid2 h4 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 300;
    margin-bottom: 0.2em;
}
.right-grid2 p {
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
}
.service2 {
  padding: 2em 0;
}
.portfolio-header{
 width: 37%;
  margin: 0 auto;
}
.portfolio-header h3 {
  font-size: 2.5em;
  color: #000000;
  margin-bottom: 0.1em;
  font-weight: 600;
}
.portfolio-header span {
  color: #ff0000;
  font-size: 1.3em;
  font-weight: 600;
}
.portfolio-header p{
  font-size: 1.3em;
  color: #000000;
 }
/*-- portfolio --*/
.portfolio-section{
	padding:5em 0;
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 25%;
	display:none;
	float:left;
	overflow:hidden;
	margin: 0;
}
div#portfoliolist {
	padding: 0px 0px;
	margin:4em 0em;
}	
.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
	margin:0em 0em;
	padding:0em 0em;
}
.portfolio img {
	width:100%;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
}
.portfolio .label {
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
}
.portfolio .label-bg {
	background: #22B4B8;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.portfolio .label-text {
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 8px;
}
.portfolio .text-category {
	display:block;
	font-size:9px;
	font-size: 12px;
	text-transform:uppercase;
}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0; 
}
.row:after,
.clearfix:after {
	clear: both; 
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.zoom-icon {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
	display: block;
	left: 0;
	top: -152px;
	width: 290px;
	height: 219px;
	background: url(../images/zoom.png) center center no-repeat rgba(183, 37, 3, 0.33);
	cursor: pointer;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.grid_box .zoom-icon {
	top: -50px;
	width:100%;
	height: 264px;	
}
.grid_box a:hover .zoom-icon {
	top: 0;
	opacity: 1;
	filter: alpha(opacity=99); 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}
.entertain_box{
	margin-bottom:3em;
}
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
#filters li span{
	display: block;
	padding: 8px 30px;
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	font-size: 1.5em;
	text-transform:uppercase;
	font-weight: 400;	
	margin: 0 0.1em;
}
#filters li span.active {
	color: red;
  font-weight: 600;
  border: 1px solid red;
}		  
#filters li {
	display: -webkit-inline-box;
}	
.double_grid img {
  	width: 50%;
  	float: left;
}
/*-- portfolio--*/

.testimonial-section {
  background: #4d4143;
  padding: 7em 0 2em;
min-height: 660px;
}
.testimonial-header {
   width: 37%;
  margin: 0 auto;

}
.testimonial-header h3 {
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 0.1em;
  text-transform: capitalize;
  font-weight: 600;
}
.testimonial-header span {
  color: #74d1fc;
  font-size: 1.3em;
  font-weight: 600;
}
.testimonial-header p{
  font-size: 1.3em;
  color: #fff;
 }
 article > div {
	text-align: center;
}
.wmuSlider {
	position: relative;
	overflow: hidden;
	text-align: center;
	min-height: 156px;
}
.wmuSlider .wmuSliderWrapper article {
	position: relative;
	text-align: center;
}
.wmuGallery .wmuGalleryImage {
	position: relative;
	text-align: center;
}
.wmuGallery .wmuGalleryImage img {
	max-width: 100%;
	width: auto;
	height: auto;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev {
	background-position: 19px 9px;
	left: 40px;
}
.wmuSliderPrev, .wmuSliderNext {
	position: absolute;
	width:29px;
	height:50px;
	text-indent: -9999px;
	background: url(../images/arrows1.png) no-repeat;
	top: 63%;
	z-index: 2;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
}
.wmuSliderPrev {
	background-position: 0px 0px;
	left: 300px;
}
.wmuSliderNext {
	background-position: -22px 0px;
	right:300px;
}
.client-main{
	padding: 1.5em 0;
}
.slide-text{
	width:94%;
	margin: 2em auto 0;
}
.slide-text h4 {
	color: #c6c6c6;
	font-size: 2.5em;
	letter-spacing:1px;
	text-align:center;
	line-height: 1.2em;
	font-weight: 400;
	font-style: italic;
}
.slide-text img {
  margin: 32px auto;
}
/******************/
.team-section {
  padding: 6em 0;
}
.team-header {
 width: 37%;
  margin: 0 auto 3.5em;

}
.team-header h3 {
  font-size: 2.5em;
  color: #000000;
  margin-bottom: 0.1em;
    text-transform: capitalize;
      font-weight: 600;
}
.team-header span {
  color: #ff0000;
  font-size: 1.3em;
  font-weight: 600;
}
.team-header p{
  font-size: 1.3em;
  color: #000000;
 }
 .team-grid img {
  border-radius: 15em;
  border: 15px solid red;
}
.team-grid {
  position: relative;
  text-align: center;
  margin-top:1em; 
}
.team-info {
  position: absolute;
  width: 66%;
  left: 65px;
  top: 15px;
  border-radius: 10em;
  padding: 6.5em 0em;
  display:none;
}
.team-info h3{	
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}
.team-grid:hover div.team-info{
  display: block;
  background: rgba(229, 34, 34, 0.4);
  border-radius: 10em;
  padding: 6em 0em;
}
.team-info h4 {
  font-size: 2.5em;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
 }
.team-info p {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
 }
.team-info img {
  border: none;
  margin-top:0.2em;  
}
.pricing-section {
  padding: 6em 0 0;
  background: url("../images/banner3.jpg") no-repeat;
  background-size: cover;
    min-height: 1055px;
}
.pricing-header {
    width: 37%;
  margin: 0 auto 2em;

}
.pricing-header h3 {
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 0.1em;
  text-transform: capitalize;
    font-weight: 600;
}
.pricing-header span {
  color: #ffd800;
  font-size: 1.3em;
  font-weight: 600;
}
.pricing-header p{
  font-size: 1.3em;
  color: #fff;
 }
.pric-head h3 {
  font-size: 3.5em;
  color: #fff;
  padding: 10px 0 10px 0;
}
.pric-grid {
  background: rgba(238, 238, 238, 0.82) ; 
  padding: 0px 0px;
    border: 1px solid red;
    margin: 2% 5% 0 0;
  width: 27.3%;

}
.pric-list {
  padding: 25px 0;
}
.pric-top{
	background:#dbdad8;
}
.pric-top h4{
	font-size: 3em;
  color: #000;  
   text-transform: capitalize;
   padding-top: 3px;
     display: inline-block;
      padding-left: 1em;
}
.pric-top span{
	color:red;
	font-size:3.5em;
	display:inline-block;
	background:#eeedeb;
	padding: 10px 26px 7px 26px;
	font-weight:600;
}
.pric-list ul li {
  list-style: none;
  font-size: 1.7em;
  text-align:center;
  padding: 12px 0 ;
  color: #000;
  border-bottom: 1px solid red;
  margin: 0 40px;
  font-weight: 400;

}
.pric-list p {
  color: #000;
  text-align: center;
  font-size: 2.2em;
  background: #fff;
  width: 35%;
  margin: 1.5em auto 0;
  padding: 1.1em 0;
  border: 1px solid red;
  font-weight: 700;
}
.pric-grid:nth-child(3) {
  margin-right: 0;
}
.pric-grid:hover {
  transform: scale(1.05);
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;

  border-radius: 6px;
}
.pric-list p:hover{
	transform: scale(1.01);
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;

  color:red;
  border-radius: 6px;
}
.blog-section {
  padding: 5em 0;
}
.blog-header {
    width: 37%;
  margin: 0 auto 3.5em;

}
.blog-header h3 {
  font-size: 2.5em;
  color: #000000;
  margin-bottom: 0.1em;
    text-transform: capitalize;
}
.blog-header span {
  color: red;
  font-size: 1.3em;
  font-weight: 600;
}
.blog-header p{
  font-size: 1.3em;
  color: #000000;
}
.blog-leftgtid img{
 	width: 100%;
}
.blog-rightgtid img{
 	width: 100%;
 }
.blog-grid a {
  font-size: 1.5em;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.5em 0;
  font-family: 'Exo', sans-serif;
  text-decoration: none;
    display: block;
}
.blog-grid p {
  font-size: 1.2em;
  color: #797272;
  line-height: 1.8em;
}
.blog-grid p.date {
  font-size: 1.3em;
  font-weight: 500;
  color: #000;
}
.blog-grid p.date a {
  font-size: 1em;
  font-weight: 400;
  color: red;
  display: inline-block;
  text-transform:capitalize;
  font-family: 'Roboto', sans-serif;
}
.blog-grid1 p.date {
  font-size: 1.3em;
  font-weight: 500;
  color: #000;
}
.blog-grid {
  margin-bottom: 3em;
}
.blog-grid1 h5 {
  font-size: 1.5em;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0;
}
.blog-grid1 p {
  font-size: 1.2em;
  color: #797272;
  line-height: 1.8em;
}
/*** contact***/
.contact-section{
	background: #2d2d2d;
	padding: 7em 0;
}
.contact-leftgrid h3 {
  font-size: 2.5em;
  color: #fefefe;

}
.contact-leftgrid span {
  color: #c7c7c7;
  font-size: 1.3em;
  font-weight: 600;
    text-transform: capitalize;
}
.contact-leftgrid p {
  font-size: 1.3em;
  color: #fff;
  line-height: 1.8em;
    margin-bottom: 2.2em;
}

.contact-leftgrid  input[type="text"]{
	  width: 100%;
  padding: 15px 24px;
  border: 1px solid #969696;
  font-size: 1.3em;
  margin-bottom: 1.2em;
  color: #aaaaaa;
  outline: none;
  background: #545454;
  font-weight: 500;
}
.contact-leftgrid  textarea {
	height: 200px;
	resize: none;
	width: 100%;
	width: 100%;
	padding: 15px 24px;
	border: 1px solid #969696;
	font-size: 1.3em;
	margin-bottom: 1.2em;
	color: #aaaaaa;
	outline: none;
	background:#545454;
	font-weight: 500;
}

.contact-leftgrid input[type="submit"] {
	background: #545454;
	padding: 11px 1.7em;
	border: 1px solid red;
	font-size: 1.8em;
	margin: 0.5em 0 0 0;
	color: #fff;
	outline: none;
	font-weight: 500;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.contact-details input[type="submit"]:hover {
  color: #fff;
  background: #44b2c1;
}
.contact-leftgrid {
  padding: 0 8em 0 11em;
}
.contact-rightgrid {
  padding: 0;
}
.google-map {
  border-top: 14px solid #662121;
  border-left: 14px solid #662121;
  border-bottom: 14px solid#662121;
}
.google-map iframe {
  width: 100%;
  min-height: 555px;
}
.footer-section{
	padding: 3em 0;
	text-align: center;
	background: #1a1a1a;
}
.footer-top p {
  font-size: 17px;
  color: #d5d6d7;
  font-weight: 400;
}
.footer-top a {
	font-size: 19px;
	color: #f0c514;
	font-weight: 400;
	text-transform: capitalize;
}
.footer-top a:hover {
	color: #d5d6d7;
}
.footer-top p a {
	margin: 0 6px 0 6px;
}
/*--single--*/
.header.head-top {
	min-height: 90px;
}
.single{
   padding:2em 0;
}
.single h2{
  text-align:center;
  font-size: 1.5em;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.5em 0;
  font-family: 'Exo', sans-serif;
}
.single-section{
	margin-top:1em;
}
.single-pic{
	text-align:center;
	margin-bottom:1em;
}
.single p{
  font-size: 1.2em;
  color: #0B0B0B;
  
}
.single-section h3 {
  color: #171414;
  font-size: 1.5em;
  margin-bottom: 0.7em;
  font-family: 'Exo', sans-serif;

}
.single-section p {
	color:#777988;
	line-height: 1.8em;
	font-size: 1.1em;
	margin-bottom: 1em;
}
.content-grid-single p{
	color: #BBA198;
	line-height: 1.8em;
	font-size: 0.95em;
	margin-top: 1em;
}
.single-pic img {
  width: 100%;
}
.content-form{
	margin-top:2em;
}
.content-form h3,.comments h3{ 
	color: red;
	margin-bottom: 1em;
	text-decoration: none;
	display: block;
	  font-family: 'Exo', sans-serif;
	  font-size: 1.7em;
}
.content-form form input[type="text"],.content-form form textarea{
	padding: 10px 15px;
	width: 60%;
	color:#4E4F63;
	font-size: 1em;
	border: 1px solid #323352;
	background:transparent;
	outline: none;
	font-family: 'Lato', sans-serif;
	display: block;
	margin:10px 0;
}
.content-form form textarea{
	height:150px;
	resize:none;
}
.content-form form input[type="submit"] {
	background: #ffd800;
	padding: 9px 1.3em;
	border: none;
	font-size: 1em;
	margin-bottom: 1em;
	color: #fff;
	outline: none;
	font-weight: 400;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.content-form form input[type="submit"]:hover{
	background:red;
}
.comments{
	margin-top:2em;
}
.comment-info {
	margin-bottom:2em;
}
.comment-info h4 {
	font-size: 1em;
	color:#000;
	font-family: 'Exo', sans-serif;
	margin: 0px;
	font-weight: 600;
	margin-bottom:0.5em;
}
.comment-info p {
	color:#777988;
	line-height: 1.5em;
	font-size: 1.1em;
	margin-bottom:0.5em;
	
}
.comment-info h5{
	color:#000;
	font-size:0.95em;
	display:block;
	margin-bottom:1em;
}
.comment-info a{
	color:#000;
	background:transparent;
	padding: 0.5em 1.5em;
	text-decoration: none;
	font-size: 0.85em;
	display: inline-block;
	border: 1px solid #323352;
}
.comment-info a:hover{
	color: #fff;
	 background: #3FACFA;
  	border: 1px solid#3FACFA;
}
.comment-grid{
	margin-bottom:2.5em;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top2.png") no-repeat 0px 0px;
}
	
				/*-- responsive-mediaquries --*/

@media(max-width:1440px){
	.header {
  		min-height: 770px;
	}
	.rslides h3 {
	  color: #fff;
	  font-size: 3em;
 	}
 	 .right-grid {
  	   margin-top: 6em;
 	}
    .right-top p {
   	   font-size: 1.3em;
 	}
    .right-bottom h4 {
	  font-size: 1.99em;
	  padding: 1.95em 5em 0.1em 5em;
 	}
     .right-top {
 	    margin: 0px auto 4.82em;
	}
     .right-top h3 {
  	   margin-bottom: 0.5em;
 	}
     p.lable1 {
  	  margin-top: 1.19em;
	}
    .center-icon {
 	   top: 52%;
  }
}
@media(max-width:1366px){
	.header {
	  min-height: 730px;
	}
	.right-top p {
       font-size: 1.2em;
 	}
 	.right-bottom h4 {
   	   font-size: 1.9em;
       padding: 1.95em 4.7em 0.25em 5em;
	}
	.right-grid {
	   margin-top: 8.7em;
	}
	.right-top h3 {
  	   margin-bottom: 0.4em;
}
	.contact-leftgrid {
 	 padding: 0 8em 0 10em;
}
}
@media (max-width: 1280px){
	.header {
	  min-height: 683px;
	}
	.callbacks_nav {
  		left: 10%;
  	}
  	.callbacks_nav.next {
  		right: 10%;
	}
	.right-grid {
	  margin-top: 7.4em;
	}
	.right-top p {
	  font-size: 1.15em;
	}
	.right-bottom h4 {
 		padding: 1.75em 4em 0.15em 4em;
	}
	.center-icon {
 		 top: 50%;
 		 right: -9%;

	}
	.contact-leftgrid {
  		padding: 0 8em 0 7em;
	}
	
}
@media (max-width: 1024px){
	.header {
 		 min-height: 550px;
	}
	.top-menu ul li a {
	  font-size: 1.2em;
	}
	
	.rslides h3 {
  		font-size: 2.5em;
  		  margin: 5em auto 0;
	}
	.rslides p {
 		font-size: 1.7em;
 	}
 	.right-top h3 {
  		font-size: 2em;
  	}
  	.right-top span {
 		font-size: 1.2em;
 	}
	.right-top {
  margin: 0px auto 3em;
}
  	.right-top p {
 		 font-size: 1.05em;
	}
	p.lable1 {
	  margin-top: 1em;
	  }
	 .right-top {
 		 width: 66%;
 	
 	}  
	.right-grid {
  margin-top: 4em;
}
 	.right-bottom h4 {
 		 padding: 1.01em 4em 1em 4em;
 		   font-size: 1.3em;
 	}
 	.services-section {
  		padding: 5em 0;
  	}
 	.service-leftgrid h3 {
  		font-size: 2em;
  	}
  	.service-leftgrid p {
 		 font-size: 1.05em;
 	}
 	.right-grid2 h4 {
  		font-size: 2em;
	}
	.service-leftgrid span {
  		font-size: 1.2em;
  	}
	.right-grid2 p {
  		font-size: 1.05em;
  	}
  	.portfolio-header h3 {
  		font-size: 1.7em;
  	}
  	.portfolio-header span {
  		font-size: 1.2em;
  	}
  	.portfolio-header p {
  		font-size: 1.15em;
  	}
  	#filters li span {
 		font-size: 1.3em;
 	}
 	.testimonial-section {
  		padding: 5em 0 2em;
		  min-height: 600px;
	}
	.testimonial-header h3 {
  		font-size: 2em;
  	}
  	.testimonial-header span {
  		font-size: 1.2em;
  	}
  	.testimonial-header p {
  		font-size: 1.1em;
  	}
  	.slide-text h4 {
  		font-size: 2em;
  	}
  	.wmuSliderPrev, .wmuSliderNext {
  		top: 60%;
  	}
  	.wmuSliderPrev {
		  background-position: 0px 0px;
		  left: 206px;
	}
	.wmuSliderNext {
	  background-position: -22px 0px;
	  right: 205px;
	}
	.team-section {
  		padding: 5em 0;
	}
	.team-header h3 {
  		font-size: 2em;
  	}
  	.team-header p {
  		font-size: 1.1em;
  	}
  	.team-info h4 {
  		font-size: 2em;
  	}
  	.team-info p {
  		font-size: 1.3em;
  	}
  	.team-info {
	 	  width: 80%;
	 	  left: 31px;
	 	  top: 15.5px;
 	 }
 	.pricing-section {
  		padding: 5em 0 0;
  		min-height: 920px;
  	}
  	.pricing-header h3 {
  		font-size: 2em;
  	}
  	.pricing-header span {
  		font-size: 1.2em;
  	}
  	.pricing-header p {
  		font-size: 1.1em;
  	}
  	.pric-top span {
 		font-size: 3em;
 	}
 	.pric-top h4 {
	  font-size: 2.5em;
	  padding-left: 0.6em;
	}
	.pric-list ul li {
 		font-size: 1.4em;
 	}
 	.pric-list p {
  		font-size: 2em;
 		padding: 1em 0;
 		  width: 38%;
 	}
 	.pric-grid {
		  margin: 2% 6% 0 0;
		  width: 29.3%;
	}
 	.blog-header h3 {
 	    font-size: 2em;
 	 }
 	 .blog-header span {
  		font-size: 1.2em;
  	}
  	.blog-header p {
  		font-size: 1.1em;
  	}
  	.blog-grid a {
  		font-size: 1.3em;
  	}
  	.blog-grid p {
 	 	font-size: 1.1em;
 	 }
 	 .blog-grid p.date {
  		font-size: 1.1em;
  	}
 	 .blog-grid1 p.date {
  		font-size: 1.1em;
  	}
  	.single h2 {
  		font-size: 1.3em;
  	}
  	.single-section h3 {
  		font-size: 1.3em;
  	}
  	.content-form h3, .comments h3{
  		font-size: 1.5em
  	}
  	.contact-section {
  		padding: 5em 0;
	}
  	.contact-leftgrid {
  		padding: 0 8em 0 3em;
	}
  	.contact-leftgrid h3 {
  	   font-size: 2em;
  	}
  	.contact-leftgrid span {
 		font-size: 1.2em;
 	}
 	.contact-leftgrid p {
  		font-size: 1.1em;
  	}
  	.google-map iframe {
  		min-height: 530px;
	}
	.contact-leftgrid input[type="submit"] {
 		font-size: 1.3em;
 	}
 	.footer-top p {
  		font-size: 15px;
  	}
  	.footer-top a {
  		font-size: 17px;
  	}
  }
@media (max-width: 780px){
		.logo {
			width: 20%;
		}
		.header-top {
           padding: 1.5em 0;
        }
		span.menu:before {
			content: url("../images/nav.png") no-repeat 0px 0px;
			cursor: pointer;
		}
		.top-menu {
			float:none;
			width: 100%;
			text-align:right;
		}
		.top-menu  ul{
			display:none;
		}
		.top-menu  ul li {
			font-size: 14px;
			display:block;
			
		}
		.top-menu ul li{
			display:block;
			float:none;
			margin: 0em;
			border-bottom: 1px solid #4B6075;
			border-right:none;
		}
		.top-menu ul li {
	
			padding:10px 0 ;
		}
		.top-menu  ul{
			margin:15px 0;
			z-index: 999;
			position: absolute;
			width: 96%;
			background:#2e3e4e;
			text-align: center;
		}
		.top-menu ul li a {
			display: block;
			font-size: 1.2em;
		}
		.header {
  			min-height: 410px;
		}
		.rslides h3 {
		  font-size: 2.1em;
		  margin: 4em auto 0;
		    width: 85%;
		}
		.rslides p {
  			font-size: 1.4em;
		}
		.callbacks_nav {
		  left: 4%;
		  top: 68%;
		}
		.callbacks_nav.next {
  			right: 4%;
		}
		.left-grid {
		  width: 50%;
		  float: left;
		}
		.right-grid {
		  width: 50%;
		  float: left;
		}
		.right-grid {
  			margin-top: 2.1em;
		}
		.right-top h3 {
  			font-size: 1.6em;
		}
		.right-top {
  			width: 73%;
			margin: 0px auto 1.7em;
		}
		.right-top p {
	font-size: 0.8925em;
  }
		p.lable1 {
		  margin-top: 0.85em;
		}
		.right-bottom h4 {
		  padding: 1.6em 1em 1em 3em;
		  font-size: 1.24em;
		}
		.center-icon {
		  top: 42%;
		  right: -10%;
		}
		.services-section {
 			min-height: 425px;
 			  padding: 4em 0;
 	    }
		.service-leftgrid {
			  float: left;
			  width: 50%;
		}
		.service-rightgrid {
			  float: left;
			  width: 50%;
		}
		.service-leftgrid h3 {
			  font-size: 1.6em;
			  margin-bottom: 0.5em;
		}
		.service-leftgrid p {
			  font-size: 1em;
		}
		.right-grid2 h4 {
		    font-size: 1.6em;
		}
		.right-grid2 p {
  			font-size: 1em;
		}
		.portfolio-section {
  			padding: 4em 0;
		}
		.portfolio-header h3 {
			  font-size: 1.6em;
		}
		.portfolio-header {
  			width: 50%;
		}
		.portfolio-header p {
			  font-size: 1.05em;
		}
		#filters li span {
		    font-size: 1.2em;
		}
		#filters li span {
 		    padding: 8px 25px;
 		}
 		.grid_box .zoom-icon {
 			height: 135px;
		}
 		 .testimonial-section {
		    padding: 4em 0 1em;
			  min-height: 500px;
		}
		.testimonial-header {
  			width: 50%;
  		}
  		.testimonial-header h3 {
			  font-size: 1.6em;
		}
		.testimonial-header p {
		  font-size: 1.05em;
		}
		.client-main {
		    padding: 1em 0;
		}
		.slide-text h4 {
		    font-size: 1.5em;
		}
		.wmuSliderPrev {
			  background-position: 0px 0px;
			  left: 130px;
		}
		.wmuSliderNext {
			  background-position: -22px 0px;
			  right: 130px;
		}
		.team-section {
		   padding: 4em 0;
		}
		.team-header {
			  width: 50%;
			  margin: 0 auto 3em;
		}
		.team-header h3 {
			  font-size: 1.6em;
		}
		.team-grid {
			  width: 33.3%;
			  float: left;
		}
		.team-grid img {
 			 width: 100%;
 		}
 		.team-info img {
			  width: 25px;
		}
		.team-header p {
			  font-size: 1.05em;
		}
		.team-info h4 {
		    font-size: 1.5em;
		}
		.team-info p {
			  font-size: 1.1em;
		}
		.team-grid:hover div.team-info {
  			padding: 4.5em 0em;
		}
		.team-info {
			 width: 76%;
			 left: 29px;
			 top: 15px;
		}
		div#portfoliolist {
 			margin: 2em 0em;
		}
		.pricing-section {
			  padding: 3em 0 0;
			  min-height: 920px;
		}
		.pricing-header {
  			width: 50%;
		}
		.pricing-header h3 {
 			 font-size: 1.6em;
		}
		.pricing-header p {
			  font-size: 1.05em;
		}
		.pric-top span {
		     font-size: 2.5em;
		}
		.pric-top h4 {
  			font-size: 1.8em;
  		}
  		.pric-list ul li {
			  font-size: 1.2em;
		}
		.pricing-section {
			 min-height: 800px;
		}
		.pric-grid {
		    float: left;
		}
		.pric-list ul li {
		    font-size: 1.15em;
		    margin: 0 30px;
		}
		.pric-list p {
			 font-size: 1.6em;
			 padding: 1em 0;
			 width: 41%;
		}
		.blog-header {
	  		width: 50%;
	  	}
	  	.blog-header h3 {
		    font-size: 1.6em;
		}
		.blog-header p {
		   font-size: 1.05em;
		}
		.blog-leftgtid {
		  		float: left;
		  		width: 50%;
	  	}
	  	.blog-rightgtid {
		  		float: left;
		  		width: 50%;
	  	}
	  	.blog-grid a {
	  		font-size: 1.1em;
	  	}
	  	.blog-grid p {
	 		 font-size: 1em;
		}
		.blog-grid1 p.date {
	  		font-size: 1em;
		}
		.blog-grid p.date {
	  		font-size: 1em;
		}
		.blog-section {
	  		padding: 3em 0;
		}
		.header.head-top {
  			min-height: 80px;
		}
		.single h2 {
	  		font-size: 1.1em;
		}
		.single-section p {
			font-size: 1em;
	 		
		}
		.single p {
 		   font-size: 1em;
 		}
		.comment-info p {
	 		font-size: 1em;
	 	}
		.content-form h3, .comments h3 {
	  		font-size: 1.4em;
		}
		.contact-section {
		   padding: 4em 0;
		}
		.contact-leftgrid {
		  width: 50%;
		  float: left;
		}
		.contact-rightgrid {
		  width: 50%;
		  float: left;
		}
		.contact-leftgrid p {
 			 font-size: 1em;
		}
		.contact-leftgrid {
  			padding: 0 2em 0 1em;
		}
		.google-map iframe {
			min-height: 516px;
		}
		.contact-leftgrid input[type="submit"] {
		   font-size: 1.2em;
		}
		.contact-leftgrid input[type="text"] {
  			font-size: 1.2em;
  		}
  		.contact-leftgrid textarea {
  			font-size: 1.2em;
  		}
  		.contact-leftgrid input[type="submit"] {
 			 font-size: 1.2em;
		}
	}
@media (max-width: 640px){
		.logo {
 		   width: 20%;
		}
		.logo img {
			width: 100%;
		}
		.top-menu ul li a {
  			font-size: 1.15em;
		}
		.top-menu ul li {
		    padding: 4px 0;
		}
		.top-menu ul {
			margin: 14px 0;
			width: 95.5%;
	   }
	   .header-top {
		    padding: 1em 0;
		}
	   .rslides h3 {
		  font-size: 1.6em;
		  margin: 4em auto 0;
		  width: 80%;
		}
		.header {
  			min-height: 341px;
		}
		.rslides p {
		   font-size: 1.2em;
		}
		.right-top {
			margin: 0px auto 0.5em;
		}
		.center-icon {
		  top: 88%;
		  right: 38%;
		}
		.right-grid {
		  width: 100%;
		  float: left;
		}
		p.lable1 {
		  margin: 1.1em 0 0.15em;
		}
		.left-grid {
		  width: 100%;
		  float: none;
		}
		.right-top h3 {
		   font-size: 1.3em;
		}
		.right-top p {
			  font-size: 0.9em;
			  
		}
		.right-grid {
			 margin-top: 2em;
		}
		.right-bottom h4 {
			 padding: 0.5em 3.6em 0.5em 3em;
			 font-size: 1em;
		}
		.services-section {
		  min-height: 330px;
		  padding: 3em 0;
		}
		.service-leftgrid h3 {
  			font-size: 1.3em;
  		}
  		.service-leftgrid p {
			 font-size: 0.95em;
			 line-height: 1.5em;
		}
		.right-grid2 h4 {
		    font-size: 1.3em;
		}
		.right-grid2 p {
			  font-size: 0.95em;
			
		}
		.portfolio-section {
		   padding: 3em 0;
		}
		.portfolio-header {
			width: 55%;
		}
		.portfolio-header h3 {
  			font-size: 1.3em;
		}
		.portfolio-header p {
			  font-size: 1em;
		}
		#filters li span {
		     font-size: 1.1em;
		}
		#filters li span {
		     padding: 8px 20px;
		}
		.grid_box .zoom-icon {
		    height: 110px;
		}
		.portfolio-section {
  			padding: 2em 0;
		}
		.testimonial-section {
  			padding: 3em 0 1em;
			  min-height: 460px;
		}
		.testimonial-header {
  			width: 56%;
		}
		.testimonial-header h3 {
 			 font-size: 1.3em;
		}
		.testimonial-header p {
  			font-size: 1em;
		}
		.slide-text {
			  width: 100%;
			  margin: 1em auto 0;
		}
		.slide-text h4 {
			  font-size: 1.3em;
		}
		.wmuSliderPrev, .wmuSliderNext {
  			top: 54%;
		}
		.wmuSliderPrev {
  			left: 90px;
		}
		.wmuSliderNext {
			 background-position: -22px 0px;
			right: 90px;
		}
		.team-section {
 		    padding: 3em 0;
		}
		.team-header {
			width: 57%;
			margin: 0 auto 2em;
		}
		.team-header h3 {
  			font-size: 1.3em;
		}
		.team-header p {
  			font-size: 1em;
		}
		.team-grid:hover div.team-info {
 			 padding: 3em 0em;
		}
		.team-info {
		     width: 75%;
		     left: 24px;
			 top: 10px;
		}
		.pricing-header {
  			width: 57%;
		}
		.pricing-header h3 {
  			font-size: 1.3em;
		}
		.pricing-header p {
			font-size: 1em;
		}
		.pric-top span {
  			font-size: 2em;
		}
		.pric-top h4 {
  			font-size: 1.5em;
		}
		.pric-list ul li {
			font-size: 1.1em;
			margin: 0 25px;
		}
		.pric-list p {
			font-size: 1.4em;
			padding: 1em 0;
			width: 45%;
		}
		.pricing-section {
  			min-height: 740px;
		}
		.blog-header {
		  	width: 57%;
		  	margin: 0 auto 2em;
		}
		.blog-header h3 {
 			 font-size: 1.3em;
		}
		.blog-grid p {
  		font-size: 0.95em;
  		}
		.blog-header p {
		font-size: 1em;
		}
	.blog-grid {
  		margin-bottom: 2em;
	}
	.blog-grid1 p.date {
  		font-size: 0.9em;
 		 margin-bottom: -18px;
	}
	.blog-grid a {
 	 font-size: 1.05em;
	}
	.header.head-top {
  		min-height: 62px;
	}
	.single h2 {
  		font-size: 1.05em;
	}
	.blog-grid p.date {
  		font-size: 0.9em;
  		margin-bottom: -7px;
	}
	.single-section p {
		  font-size: 0.95em;
   }
	.single p {
	  font-size: 0.9em;
	}
	.content-form h3, .comments h3 {
 		 font-size: 1.3em;
	}
	.single-section h3 {
  		font-size: 1.2em;
	}
	.content-form form input[type="text"], .content-form form textarea{
  		width: 100%;
  	}
  	.comment-info h5 {
	 	margin-bottom: 0.5em;
	 }
	.contact-section h3 {
  		font-size: 1.4em;
	}
	.comment-info p {
 		 font-size: 0.9em;
	}
	.comment-info h4 {
  		font-size: 0.85em;
  	}
  	.contact-section {
 		 padding: 3em 0;
	}
	.contact-leftgrid {
  		width: 100%;
  	}
  	.contact-rightgrid {
  	   width: 100%;
  	   margin-top: 1.3em;
	}
	.contact-leftgrid input[type="submit"] {
  		font-size: 1.1em;
	}
	.google-map iframe {
  		min-height: 400px;
	}
	.footer-top p {
  		font-size: 14px;
	}
	.footer-top a {
  		font-size: 16px;
	}
  	 }
@media (max-width: 480px){
	.logo {
	   width: 25%;
	}
	.top-menu ul {
  		width: 93%;
	}
	.rslides h3 {
		font-size: 1.4em;
		margin: 5em auto 0;
		width: 90%;
	}
	.rslides p {
	    font-size: 1.1em;
	    margin: 0 2em 0.5em 0;
	}
	.callbacks_nav {
		 left: 3%;
		 top: 85%;
	}
	.callbacks_nav.next {
 		 right: 2%;
	}
	.left-grid {
		  width: 100%;
		  float: none;
	}
	.right-grid {
		  width: 100%;
		  float: none;
	}
	.right-top {
  		margin: 0px auto 1.82em;
	}
	.right-top h3 {
 		 font-size: 1.2em;
	}
	.right-top span {
  		font-size: 1.18em;
	
		}
	p.span {
	 font-size: 0.895em;
	}
	.center-icon {
		  top: 84%;
		  right: 41%;
	}
	.right-grid {
	  margin-top: 4em;
	}
	.right-top p {
  		font-size: 0.895em;
  	}
  	.right-bottom h4 {
		font-size: 0.95em;
		  line-height: 1.8em;
	}
	.service-leftgrid {
		  float: none;
		  width: 100%;
		    padding: 0;
	}
	.service-rightgrid {
		  float: none;
		  width: 100%;
		  margin-top: 1.5em;
		    padding: 0;
	}
	.service-leftgrid img {
 		 width: 15%;
	}
	.service-leftgrid h3 {
		  font-size: 1.2em;
	}
	.service-leftgrid span {
	  font-size: 1.18em;
	}
	.service-leftgrid p {
		  font-size: 0.895em;
	}
	.right-grid1 {
  		 padding-top: 0%;
  		 float: left;
		 width: 15%;
		 margin-right: 10%;
	}
	.right-grid2 h4 {
  	     font-size: 1.2em;
	}
	.right-grid2 p {
  		font-size: 0.9em;
  	}
  	.right-grid2 {
		float: left;
		width: 75%;
		margin-top: 0.4em;
	}
  	.portfolio-header {
	   width: 70%;
	}
	.portfolio-header h3 {
		  font-size: 1.2em;
	}
	.portfolio-header span {
	  font-size: 1.18em;
	}
	#filters li span {
	    padding: 8px 14px;
	    font-size: 1em;
	}
	#portfoliolist .portfolio {
  		width: 50%;
  	}
  	.grid_box .zoom-icon {
  		height: 154px;
	}
	.portfolio-header img {
	    width: 20%;
	}
	.testimonial-header {
		 width: 77%;
	}
	.testimonial-header img {
		  width: 20%;
	}
	.testimonial-section {
  		padding: 2em 0 1em;
		  min-height: 345px;

	}
	.testimonial-header h3 {
	  	font-size: 1.2em;
	}
	.testimonial-header span {
	 	 font-size: 1.18em;
	}
	.team-header img {
	  width: 20%;
	}
	.slide-text h4 {
		font-size: 1.1em;
	}
	.slide-text img {
  		margin: 20px auto;
	}
	.slide-text {
		  width: 100%;
		  margin: 0em auto 0;
	}
	.wmuSliderPrev, .wmuSliderNext {
 		 top: 53%;
	}
	.wmuSliderPrev {
		  left: 70px;
	}
	.wmuSliderNext {
  		right: 70px;
	}
	.team-header {
		  width: 77%;
		  margin: 0 auto 1em;
	}
	.team-grid {
		  width: 100%;
		  float: none;
	}
	.team-grid img {
  		width: 50%;
	}
	.team-info img {
  		width: 14%;
	}
	.team-header h3 {
	  font-size: 1.2em;
	}
	.team-header span {
   		font-size: 1.18em;
   	}
	.team-info p {
	  	font-size: 0.85em;
	}
	.team-info h4 {
 	 	font-size: 1.2em;
	}
	.team-info {
		  width: 42%;
		  left: 129px;
		  top: 9px;
	}
	.team-grid:hover div.team-info {
  		padding: 4.3em 0em;
	}
	.pricing-header {
 		 width: 77%;
 		   margin: 0 auto 0em;
	}
	.pricing-header img {
  		width: 20%;
	}
	.pricing-header h3 {
  		font-size: 1.2em;
	}
	.pricing-header span {
	  font-size: 1.18em;
	}
	.pric-grid {
		  float: none;
		  width: 70%;
		  margin: 2em auto;
	}
	.pric-grid:nth-child(3) {
 		 margin-right: 15%;
	}
	.pric-list ul li {
		  font-size: 1em;
		  margin: 0 50px;
	}
	.pric-top h4 {
		  font-size: 1.3em;
		  padding-left: 2.6em;
	}
	.pric-list p {
		  font-size: 1.3em;
		  padding: 1em 0;
		  width: 30%;
	}
	.blog-header {
  		width: 77%;
  	}
  	.blog-header img {
 		 width: 20%;
	}
	.blog-header h3 {
  		font-size: 1.2em;
	}
	.blog-header span {
		font-size: 1.18em;
	}
	.blog-leftgtid {
	  float: none;
	  width: 100%;
	  padding: 0;
	}
	.blog-rightgtid {
	  float: none;
	  width: 100%;
	  padding: 0;
	}
	.blog-grid a {
  		font-size: 1em;
	}
	.header.head-top {
  		min-height: 60px;
	}
	.single h2 {
  		font-size: 1em;
	}
	.single-section p {
 		 font-size: 0.9em;
 	}
 	.single-section h3 {
 		 font-size: 1.05em;
	}
	.content-form h3, .comments h3 {
  		font-size: 1.2em;
	}
	.comment-info h4 {
  		font-size: 0.9em;
  	}
 	.contact-section h3 {
  		font-size: 1.2em;
	}
	.contact-leftgrid span {
	  font-size: 1.18em;
	}
	.contact-leftgrid img {
	  width: 15%;
	}
	.contact-section {
	  padding: 2em 0;
	}
	.contact-leftgrid input[type="text"] {
		  font-size: 1em;
		  padding: 10px 20px;
	}
	.contact-leftgrid textarea {
		  font-size: 1em;
		  padding: 10px 20px;
		  height: 160px;
	}
	.contact-leftgrid input[type="submit"] {
		  font-size: 1em;
		  margin: 0em 0 0 0;
		  padding: 11px 1.3em
	}
	.google-map iframe {
 		 min-height: 350px;
	}
}
@media (max-width: 320px){
	.logo {
		 width: 35%;
		   margin-top: 0.2em;
	}
	.top-menu ul {
	  width: 90%;
	}
	.header.head-top {
	  min-height: 44px;
	}
	.top-menu ul {
  		margin: 3px 0;
  	}
  	.top-menu ul li a {
  		font-size: 1.1em;
	}
	.rslides h3 {
		 font-size: 1em;
		 margin: 4.5em auto 0;
		 width: 100%;
	}
	.rslides p {
	  font-size: 1em;
	  margin: 0 2em 0em;
	  text-align: center;
  }
	.callbacks_nav {
		  width: 29px;
	   background: transparent url("../images/gif1.png") no-repeat 0px 0px;
	}
	.callbacks_nav.next {
	  right: 0%;
	}
	.callbacks_nav {
	  left: 0%;
	  top: 72%;
	}
 	 .header {
  		min-height: 230px;
	}
	.header-top {
	  padding: 0.8em 0;
	}
	.center-icon {
	  top: 84%;
	  right: 30%;
	}
	.right-top h3 {
  		font-size: 1.18em;
	}
	.right-bottom h4 {
  		  line-height: 1.5em
  	}
	.right-grid {
		margin-top: 4.5em;
	}

	.service-leftgrid h3 {
		font-size: 1.18em;
	}
	.service-rightgrid {
		margin-top: 4.5em;
	}
	.right-grid2 h4 {
		  font-size: 1.15em;
	}
	.right-grid1 {
	 	width: 17%;
	 }
	 .right-grid2 {
  		width: 70%;
	  	margin-top: 0;
	}
	.portfolio-section {
	  padding: 1em 0;
	}
	.portfolio-header h3 {
		  font-size: 1.18em;
	}
	.portfolio-header p {
	  font-size: 0.99em;
	  overflow: hidden;
	  height: 20px;
	}
	#filters li span {
	  padding: 8px 4px;
	  font-size: 0.89em;
	}
	.grid_box .zoom-icon {
  		height: 100px;
	}
	.testimonial-header h3 {
 		 font-size: 1.18em;
	}
	.testimonial-header {
  		width: 70%;
	}
	.testimonial-header p {
		  font-size: 0.99em;
		}
	 .slide-text h4 {
		  font-size: 1em;
	
	}
	.wmuSliderPrev {
  		left: 20px;
	}
	.wmuSliderPrev, .wmuSliderNext {
  		top: 57%;
	}
	.wmuSliderNext {
	  	right: 20px;
		
	}
	.testimonial-section {
  padding: 2em 0 0em;
}
	.team-header h3 {
	  	font-size: 1.18em;
	}	 
	.team-header p {
		  font-size: 0.99em;
	}
	.team-grid img {
  		width: 70%;
	}
	.team-grid:hover div.team-info {
	    padding: 3.3em 0em;
	}
	.team-info img {
	  width: 12%;
	}
	.team-info {
		  width: 53%;
		  left: 66px;
		  top: 9px;
	}
	.pricing-header h3 {
	  	font-size: 1.18em;
	}
	.pricing-header p {
	 	 font-size: 0.99em;
	  }
	  .pric-top h4 {
		  font-size: 1.2em;
		  padding-left: 2em;
	}
	.pric-top span {
	  	font-size: 1.8em;
	}
	.pric-grid {
  		width: 90%;
  	}
  	.pric-grid:nth-child(3) {
  		margin-right: 5%;
	}
	.blog-header h3 {
  		font-size: 1.18em;
	}
	.blog-header p {
	 	 font-size: 0.99em;
	}
	 .blog-section {
	   padding: 1em 0;
	}
	 .blog-grid a {
  		font-size: 0.9em;
	}
	.blog-grid1 p {
 		 line-height: 1.5em;
	}
	.single {
	  padding: 1em 0;
	}
	.single h2 {
	  font-size: 0.9em;
	}
	.single-section h3 {
  		font-size: 1em;
	}
	.content-form h3, .comments h3 {
  		font-size: 1.05em;
	}
	.comment-info h4 {
  		font-size: 0.85em;
	}
	.comment-info h5 {
		  color: #000;
		  font-size: 0.8em;
	 }
	 .comments {
		  margin-top: 1em;
	}
	.content-form {
  		margin-top: 1em;
	}
	.contact-section h3 {
 	  font-size: 1.18em;
	}
	.contact-leftgrid  p {
	 	 font-size: 0.99em;
		  
	  }
	  .contact-leftgrid textarea {
		  height: 120px;
	}
	.google-map iframe {
 		 min-height: 235px;
	}